html, body {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12pt;
  font-weight: 200;
}

.nojs {
  display: none;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.column, .columns {
  margin-left: initial;
}

a {
  color: #404040;
  text-decoration: none;
}

img {
  box-sizing: border-box;
  border-radius: 2px;
  max-height: 1000px;
  max-width: 100%;
  margin-bottom: 0px;
  opacity: 0.9;
}

li {
  list-style-type: initial;
  margin-bottom: 0;
}

h1, h2, h3, h4 h5 {
  font-size: 1.3em;
  letter-spacing: initial;
}

p {
  margin-bottom: 0;
}

pre {
  margin: 1em;
}

footer {
  margin-top: 1em;
}

.title {
  display: block;
  font-size: 1.6rem;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
}

.code {
  border: solid 1px #dedede;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 4px;
  font-size: 11pt;
}

.left-side li {
  list-style-type: none;
  padding-bottom: .3em;
}

.hidden {
  display: none;
}

#toggle-btn {
  cursor: pointer;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.post-tags {
  font-size: 0.8em;
  line-height: 1.6;
}
.post-tags .tag {
  font-size: 0.9em;
}

ul.tags {
  margin-top: 1.8em;
}
ul.tags li {
  list-style-type: none;
  padding-left: 12px;
}
ul.tags div {
  margin-bottom: 10px;
}

ul.tag-posts > li.short {
  list-style-type: none;
}
ul.tag-posts > li.long {
  list-style-type: none;
  margin-bottom: 2.5em;
}

#search {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 95%;
  padding-right: 2em;
  font-size: 4em;
  text-align: right;
  background: #fff;
  opacity: 0.9;
}

#search > div:first-child {
  border-bottom: solid 1px #666;
}

.highlight {
  background: #666;
}

/* archive */
.archive {
  font-size: 0.8em;
  margin-bottom: 2em;
}
.archive .year {
  margin-bottom: 0;
}
.archive .row {
  border-bottom: solid 1px #eee;
  padding: 0em;
}
.archive .row .post-tags {
  padding: 0;
  padding-left: 2em;
}

/* about */
.about li {
  list-style-type: none;
}
.about .outbound a {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 0.1rem;
  text-decoration: none;
}

/* gallery */
.gallery-header {
  padding-left: 1.6em;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
}
.gallery a {
  display: block;
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  line-height: 0;
}
.gallery a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center center;
}

/* log */
.log a {
  text-decoration: underline;
}

#rotate {
  color: #404040;
  cursor: pointer;
  float: right;
  font-size: 1.5em;
  line-height: 0;
  padding: 5px;
}

.right-side {
  font-size: 1.2em;
}

ul.pagination {
  display: block;
  float: right;
  font-size: 0.8em;
  padding: 1em 0em;
  margin-bottom: 3em;
}
ul.pagination li {
  display: inline-block;
}

/* desktop */
@media (min-width: 650px) {
  .container {
    padding-left: 1.6em;
  }

  .gallery {
    gap: 5px;
  }

  .desktop-tag-list {
    display: block;
    overflow: scroll;
    max-height: 250px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .desktop-tag-list::-webkit-scrollbar {
    display: none;
  }

  .tag-list {
    display: none;
  }

  ul.tags {
    display: initial;
  }

  .archive .row {
    padding: 1em;
  }
}